@use '../../lib/service.scss' as s;

.alert {
    margin: s.space(2);
    display: flex;
    justify-content: space-between;

    &__title{
        font-size: 20px;
        font-weight: bold;
    }

    &__button{
        width: 100%;
        max-width: 200px;
        background-color:blue;
        color: white;
    }
}

   



